h1, h2, h3 {
  text-align: center;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .top-bar.expanded .top-bar-section .has-dropdown.moved > .dropdown { clip:initial;}
    .top-bar.expanded .top-bar-section .dropdown {clip:initial;}
}